<div class="col-md-6 mb-3" style="width: 100%;">
    <div class="h-100 py-3  ps-3 text-white bg-purple-normal rounded-3 ">
        <div class="row commands-col">

            <div class="col mb-1">
                <h2 class="d-flex justify-content-start mb-0" style="font-size: x-large;">
                    <b> /<%= name %></b>
                </h2>

            </div>

            <p class="mb-0" style="font-size: medium;">
                <%= description %>
            </p>

        </div>
    </div>
</div>