<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src= "img/Bot.jpg" width="45" height="45" class="rounded-circle me-2">
      <b>
        Secrétaire
      </b>
    </a>
    <button class="navbar-toggler hidden-lg-up float-xs-right" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul id="nav-list" class="navbar-nav" style="padding-left: 20px;">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          Fonctionalités
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
          <li><a class="dropdown-item" href="#tmpChannel">Salon temporaire</a></li>
          <li><a class="dropdown-item" href="#tickets">Tickets</a></li>
          <li><a class="dropdown-item" href="#lvl_rank">Niveaux</a></li>
          <li><a class="dropdown-item" href="#suggestion">Suggestions</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Commands
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Invite
        </a>
      </li>
    </ul>

    <form class="d-flex" style="padding-right: 25px; padding-left:25px;">
      <button id="login" onclick="location.href='/dashboard'" class="btn btn-primary" type="button">
        <b id="text">Dashboard</b>
      </button>
    </form>
    
  </div>

</nav>